* {
    margin: 0;
    padding: 0;
}

body {
    font-family:Arial, Helvetica, sans-serif;
    color: #2a333f;
    font-size: 18px;
}

img {
    max-width: 100%;
    display: block;
}


/*      Profile picture      */
.person {
    --transform-speed: 250ms;
    position: relative;
    max-width: 20rem;
    margin-inline: auto;
}

.personContainer {
    aspect-ratio: 1 / 1.3;
    display: grid;
    align-items: end;
    border-radius: 0 0 100vw 100vw;
    overflow: hidden;

    transition: transform var(--transform-speed) ease;
}

.personContainer:hover {
    transform: scale(1.05);
}

.personCircle {
    position: absolute;
    inset: auto 0 0;
    width: 100%;
    aspect-ratio: 1 / 1 ;
    border-radius: 50%;
    margin-inline:  auto;
    object-fit: cover;
}

.personImg {
    position: relative;
    /* z-index: 2; */
    aspect-ratio: 1 / 1;
    object-fit: cover;
    object-position: -0.5rem 20%;
    transform: scale(1.2);
  
    transition: transform var(--transform-speed) ease;
}

.personContainer:hover .personImg{
    transform: 
    scale(1.2)
    translateY(-1rem);
}


/*      Content      */
.section-title {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
    text-align: center;
    padding: 50px 0;
}

.container {
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-bottom: 150px;
    flex-wrap: wrap;
}

.container div{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container div>img{
    width: 20em;
    aspect-ratio: 1 / 1;
    position: relative;
    object-fit: cover;
    object-position: top;
}

button {
    flex: 1;
    width: 100%;
    background-color: #2a333f;
    border-style: none;
    border-radius: 10px;
    font-size: 1rem;
    font-weight: bold;
    color: #F9FAF8;
    padding: 1em;
    margin: 1em;
}

button:hover {
    background-color: #2a333fa9;
}

a, a:visited {
    all: unset;
}
    
a:hover {
    color: #2a333fa9;
}
